<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
  <style>
    .large-text{
      font-size: 1.5rem;
    }
  </style>
<body>
  <p class="large-text">
    您好！歡迎來到 Kanteen，一個專為港九區中小學生提供健康美味餐盒的
    網上訂購平台。
  </p>
  <p class="large-text">
    我們的使命是讓每位學生都能享受到均衡營養的中西美食，無論是香濃的
    西式燴飯、清新的日式便當，還是傳統的中式燴菜，每款餐盒都由專業
    營養師精心設計，選用新鮮食材，確保美味與健康兼得。 透過便捷的
    網上訂購系統，家長和學校可輕鬆為學生安排每日餐點，省時又安心。
  </p>
  <p class="large-text">
    我們致力於為香港的下一代提供優質飲食，陪伴他們健康成長！
  </p>

</body>
</html>