{% extends "base.html" %}
{% load static %}

{% block menu %}
    {% if form.errors %}
        <div>
            Please enter the correct username and password.
        </div>
    {% endif %}

    <form method="post" action="{% url 'login' %}{% if request.GET.next %}?next={{request.GET.next}}{% endif %}">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <div>
        <a href="{% url 'password_reset' %}">Forgot password?</a>
    </div>
{% endblock %}