{% extends "base.html" %}
{% load static %}
{% block body_content %}

<h1>this is ordering page</h1> 
星期一 </br>
    <img src="{{Monday_A.main_course_img.url}}" width = "260" height = "260" ></br>
        名稱:{{Monday_A.main_course_name}} </br> 
        價錢︰{{Monday_A.main_course_price}}     
        <button ></button></br>
    <img src="{{Monday_B.main_course_img.url}}" width = "260" height = "260" ></br>
        名稱:{{Monday_B.main_course_name}} </br>   
        價錢︰{{Monday_B.main_course_price}} </br>      
        <button ></button></br>

星期二 </br>
    <img src="{{Tuesday_A.main_course_img.url}}" width = "260" height = "260" ></br>
        名稱:{{Tuesday_A.main_course_name}}</br>
        價錢︰{{Tuesday_A.main_course_price}} </br> 
        <button ></button>    </br>
        <img src="{{Tuesday_B.main_course_img.url}}" width = "260" height = "260" ></br>
        名稱:{{Tuesday_B.main_course_name}}</br>
        價錢︰{{Tuesday_B.main_course_price}}</br> 
        <button ></button></br>
星期三 </br>
    <img src="{{Wensday_A.main_course_img.url}}" width = "260" height = "260" ></br>
        名稱:{{Wensday_A.main_course_name}}</br>
        價錢︰{{Wensday_A.main_course_price}} </br>
        <button ></button></br>

    <img src="{{Wensday_B.main_course_img.url}}" width = "260" height = "260" ></br>
        名稱:{{Wensday_B.main_course_name}}</br> 
        價錢︰{{Wensday_B.main_course_price}} </br>     
    <button ></button></br>

星期四 </br>
    <img src="{{Thuesday_A.main_course_img.url}}" width = "260" height = "260" ></br>
        名稱:{{Thuesday_A.main_course_name}}</br>   
        價錢︰{{Thuesday_A.main_course_price}}</br>      
        <button ></button>        </br>

    <img src="{{Thuesday_B.main_course_img.url}}" width = "260" height = "260" ></br>
        名稱:{{Thuesday_B.main_course_name}}</br>   
        價錢︰{{Thuesday_B.main_course_price}}</br>      
        <button ></button></br>

星期五 </br>
    <img src="{{Friday_A.main_course_img.url}}" width = "260" height = "260" ></br>
        名稱:{{Friday_A.main_course_name}}</br>  
        價錢︰{{Friday_A.main_course_price}}</br>
        <button ></button></br>

    <img src="{{Friday_B.main_course_img.url}}" width = "260" height = "260" ></br>
        名稱:{{Friday_B.main_course_name}}</br>
        價錢︰{{Friday_B.main_course_price}}</br>
        <button ></button></br>
</br>
    

{% endblock %}