<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>this is ordering page</h1> 
   {{Monday_A}}   {{Monday_B}}
   {{Tuesday_A}}   {{Tuesday_B}}
   {{Wensday_A}}   {{Wensday_B}}
   {{Thuesday_A}}   {{Thuesday_B}}
   {{Friday_A}}   {{Friday_B}}


    <!--<h1>{{ random_restaurent_list }}</h1>
    <h1>random_main_course_for_a_day{{ random_main_course_for_a_day }}</h1>-->
</body>
</html>