{% extends "base.html" %}
{% load static %}
{% block main_content %}

<h4>
   <a href="{% url 'order_list' %}">回到訂餐列表</a>
   <br><br><br>

      <table>
         <tr>
            <td>訂餐編號︰</td><td>{{object.order_id}}</td>
         </tr>
         <tr>
            <td>訂餐日期︰</td><td>{{object.order_date_time}}</td>
         </tr>
         <tr>
            <td>學生姓名︰</td><td>{{object.student_name}}</td>
         </tr>
         student_name
         <tr>
            <td>星期一餐點︰</td><td>{{object.meal1}}</td>
         </tr>
            <td>星期二餐點︰</td><td>{{object.meal2}}</td>
         </tr>
         <tr>
            <td>星期三餐點︰</td><td>{{object.meal3}}</td>
         </tr>
         <tr>
            <td>星期四餐點︰</td><td>{{object.meal4}}</td>
         </tr>
         <tr>
            <td>星期五餐點︰</td><td>{{object.meal5}}</td>
         </tr>
         <tr>
            <td>總金額︰</td><td>HKD{{object.total_price}}.0</td>
         </tr>
         <tr>
            <td>付款方式︰</td><td>{{object.payment_method}}</td>
         </tr>
         <tr>
            <td>付款將況︰</td><td>己付款</td>
         </tr>
      </table>
   <br>

   <a href="{% url 'order_app:order_update' order_id=object.order_id %} ">修改訂單</a>
   <a href="{% url 'order_app:delete_order' order_id=object.order_id %} ">取消訂單</a>


</h4>

   
{% endblock %}