{% extends "base.html" %}
{% load static %}

{% block body_content %}

This is Homepage
<!-- MONDAY -->

<div class = "row">
  <div class = "word" style="background-color: #FEF8EC">MONDAY</div>
</div>

<div class = "row">

  <div class = "col-3" >This is Menu

    <img src={{menus1.0.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}">
  {{menus1.0.main_course}}</div>
  <div class = "col-3" >This is Menu

    <img src={{menus1.1.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}">
    {{menus1.1.main_course}}</div>
  <div class = "col-3" >This is Menu

    <img src={{menus1.2.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}">
    {{menus1.2.main_course}}</div>

  <div class = "col-3" >This is Menu


    <img src={{menus1.3.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}">
    {{menus1.3.main_course}}</div>
  <div class = "col-3" >This is Menu

    <img src={{menus1.4.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}">
    {{menus1.4.main_course}}</div>
</div>
<div class = "row">
{% for drink in drinks %}
  <div class = "col-2" >

  <img src={{drink.Image.url}} width = "150" height = "150" alt = "{% static 'colorbox_rotation1.gif' %}">
    <br>{{drink.drink}}

    </div>
  {% endfor %}
  </div>


<!-- TUESDAY -->
<div class = "row">
  <div class = "word" style="background-color: #FEF8EC">TUESDAY</div>
</div>
<div class = "row">

  <div class = "col-3" >This is Menu

    <img src={{menus2.0.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}"></div>
  <div class = "col-3" >This is Menu

    <img src={{menus2.1.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}"></div>
  <div class = "col-3" >This is Menu

    <img src={{menus2.2.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}"></div>

  <div class = "col-3" >This is Menu


    <img src={{menus2.3.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}"></div>
  <div class = "col-3" >This is Menu

    <img src={{menus2.4.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}"></div>

</div>
<!-- WEDNESDAY -->
<div class = "row">
  <div class = "word" style="background-color: #FEF8EC">WEDNESDAY</div>
</div>
<div class = "row">

  <div class = "col-3" >This is Menu

    <img src={{menus3.0.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}"></div>
  <div class = "col-3" >This is Menu

    <img src={{menus3.1.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}"></div>
  <div class = "col-3" >This is Menu

    <img src={{menus3.2.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}"></div>

  <div class = "col-3" >This is Menu


    <img src={{menus3.3.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}"></div>
  <div class = "col-3" >This is Menu

    <img src={{menus3.4.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}"></div>

</div>
<!-- THURSDAY -->
<div class = "row">
  <div class = "word" style="background-color: #FEF8EC">THURSDAY</div>
</div>
<div class = "row">

  <div class = "col-3" >This is Menu

    <img src={{menus4.0.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}"></div>
  <div class = "col-3" >This is Menu

    <img src={{menus4.1.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}"></div>
  <div class = "col-3" >This is Menu

    <img src={{menus4.2.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}"></div>

  <div class = "col-3" >This is Menu


    <img src={{menus4.3.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}"></div>
  <div class = "col-3" >This is Menu

    <img src={{menus4.4.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}"></div>

</div>
<!-- FRIDAY -->
<div class = "row">
  <div class = "word" style="background-color: #FEF8EC">FRIDAY</div>
</div>
<div class = "row">

  <div class = "col-3" >This is Menu

    <img src={{menus5.0.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}"></div>
  <div class = "col-3" >This is Menu

    <img src={{menus5.1.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}"></div>
  <div class = "col-3" >This is Menu

    <img src={{menus5.2.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}"></div>

  <div class = "col-3" >This is Menu


    <img src={{menus5.3.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}"></div>
  <div class = "col-3" >This is Menu

    <img src={{menus5.4.Image.url}} width = "260" height = "260" alt = "{% static 'colorbox_rotation1.gif' %}"></div>

</div>
{% endblock %}