{% extends "base.html" %}
{% load static %}
{% block main_content %}
<div class="container-fluid py-4">
  <!-- Return Button -->
  <div class="row mb-4">
    <div class="col-12">
      <a href="{% url 'order_list' %}" class="btn btn-primary large-text">回到訂餐列表</a>
    </div>
  </div>

  <!-- Page Title -->
  <h1 class="text-center mb-4">訂單詳情</h1>

  <!-- Order Details Table -->
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="table-responsive">
        <table class="table table-striped table-hover">
          <tbody>
            <tr>
              <th scope="row" class="large-text">訂單編號</th>
              <td class="large-text">{{ object.order_id }}</td>
            </tr>
            <tr>
              <th scope="row" class="large-text">訂單日期</th>
              <td class="large-text">{{ object.order_date_time }}</td>
            </tr>
            <tr>
              <th scope="row" class="large-text">學生姓名</th>
              <td class="large-text">{{ object.student_name }}</td>
            </tr>
            <tr>
              <th scope="row" class="large-text">星期一餐點</th>
              <td class="large-text">{{ object.meal1|default:"未選擇" }}</td>
            </tr>
            <tr>
              <th scope="row" class="large-text">星期二餐點</th>
              <td class="large-text">{{ object.meal2|default:"未選擇" }}</td>
            </tr>
            <tr>
              <th scope="row" class="large-text">星期三餐點</th>
              <td class="large-text">{{ object.meal3|default:"未選擇" }}</td>
            </tr>
            <tr>
              <th scope="row" class="large-text">星期四餐點</th>
              <td class="large-text">{{ object.meal4|default:"未選擇" }}</td>
            </tr>
            <tr>
              <th scope="row" class="large-text">星期五餐點</th>
              <td class="large-text">{{ object.meal5|default:"未選擇" }}</td>
            </tr>
            <tr>
              <th scope="row" class="large-text">總金額</th>
              <td class="large-text">HK${{ object.total_price|default:0 }}</td>
            </tr>
            <tr>
              <th scope="row" class="large-text">付款方式</th>
              <td class="large-text">{{ object.payment_method|default:"未指定" }}</td>
            </tr>
            <tr>
              <th scope="row" class="large-text">付款狀態</th>
              <td class="large-text">已付款</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Cancel Order Button -->
      <div class="text-center mt-4">
        <a href="{% url 'order_app:delete_order' order_id=object.order_id %}" class="btn btn-danger large-text">取消訂單</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}