{% extends "base.html" %}

{% block title %} Order Confirmation {% endblock %}

{% block body_content %}
    <h2> Confirmation </h2>
    <div class="confirmationContainer">

        <div class="daysConfirmation"> <!--#Monday-->
            <h3> Monday </h3>
            <img src="{{ mondayMeal.image_url }}" alt="MondayMeal" width="200" height="200">
            <p> {{ mondayMealName }}</p>
            <p> Price:{{ mondayMealPrice }}</p>
        </div>

        <div class="daysConfirmation"> <!--Tuesday-->
            <h3> Tuesday </h3>
            <img src="{{ tuesdayMeal.image_url }}" alt="TuesdayMeal" width="200" height="200">
            <p> {{ tuesdayMealName }}</p>
            <p> Price:{{ tuesdayMealPrice }}</p>
        </div>

        <div class="daysConfirmation"> <!--Wednesday-->
            <h3> Wednesday </h3>
            <img src="{{ wednesdayMeal.image_url }}" alt="WednesdayMeal" width="200" height="200">
            <p> {{ wednesdayMealName }}</p>
            <p> Price:{{ wednesdayMealPrice }}</p>
        </div>

        <div class="daysConfirmation"> <!--Thursday-->
            <h3> Thursday </h3>
            <img src="{{ thursdayMeal.image_url }}" alt="ThursdayMeal" width="200" height="200">
            <p> {{ thursdayMealName }}</p>
            <p> Price:{{ thursdayMealPrice }}</p>
        </div>

        <div class="daysConfirmation"> <!--Friday-->
            <h3> Friday </h3>
            <img src="{{ fridayMeal.image_url }}" alt="FridayMeal" width="200" height="200">
            <p> {{ fridayMealName }}</p>
            <p> Price:{{ fridayMealPrice }}</p>
        </div>

        <h3> Total: {{ totalPrice }}</h3> <!--Total Price (Pending Confirmation)-->
        <button class="confirmationButton">Confirm & Proceed to Payment </button>
    </div>

{% endblock %}