{% extends "base.html" %}
{% load static %}
{% block main_content %}
<h3><a href="{% url 'order_app:mode_selection' %}">返回目錄</a></h3>
<br>
<h5>
   <table>
      {% if object_list %}
      <h3>所有訂單︰</h3><br>
      {% for order in object_list %}
         <tr>
            <td><h4>{{order.order_id}}</h4></td>
            <td><a href=" {% url 'order_detail' pk=order.order_id %}"><h4>詳細資料</h4></a>  </td>            
         </tr>
         {% endfor %}
      {% else %}   
         <h3>沒有訂單資料</h3>
   {% endif %}
   </table>
</h5>
<br>

{% endblock %}