{% extends "base.html" %}
{% load static %}
{% block main_content %}
</br>
<h3><a href = "{% url 'order_app:mode_selection' %}">回到目錄</a></h3>
<br>
<h1>多謝您的訂購 </h1></br><br>
<h3>訂單資料</h2>
<table>
    <tr>
        <tr><td>訂單號碼:</td><td>{{display.order_id}}</td></tr>
        <tr><td>日期時間:</td><td>{{display.order_date_time}}<td></tr>
        <tr><td>學生名稱:</td><td>{{display.student_name}}</td></tr>
        <tr><td>星期一餐點:</td><td>{{display.meal1}}</td></tr>
        <tr><td>星期二餐點:</td><td>{{display.meal2}}</td></tr>
        <tr><td>星期三餐點:</td><td>{{display.meal3}}</td></tr>
        <tr><td>星期四餐點:</td><td>{{display.meal4}}</td></tr>
        <tr><td>星期五餐點:</td><td>{{display.meal5}}</td></tr>
        <tr><td>總金額︰</td><td>HKD{{display.total_price}}.0</td></tr>
        <tr><td>付款方式︰</td><td>{{display.payment_method}}</td></tr>
        <td>訂單狀況: </td><td>己付款</td>
    </tr>
</table>




{% endblock %}
